<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HT.MySql.Data" version="1.0.0" targetFramework="net40" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net40" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net40" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net40" />
  <package id="MySql.Data" version="6.10.6" targetFramework="net40" />
  <package id="MySql.Data.EntityFramework" version="8.0.10-rc" targetFramework="net40" />
  <package id="ServiceStack.Redis.Complete" version="1.0.0" targetFramework="net40" />
  <package id="StackExchange.Redis" version="1.2.0" targetFramework="net40" />
</packages>